%%% -*- mode: erlang -*-
[
    {erater, [
            {groups, [
                    {erater_100, [{rps, 100}, {capacity, 50}, {die_after, 20000}, {shards, 2}]},
                    {er_ets_10, [{rps, 10}, {capacity, 5}, {die_after, 20000}, {shards, 2}, {driver, erater_ets}]}
                    ]}
            ]}
    ].
