%%% -*- mode: erlang -*-
[
    {erater, [
            {nodes, {mfa, {minishard_demo, cluster_nodes, [erater]}}},
            {groups, [
                    {erater_100, [{rps, 100}, {capacity, 50}, {ttl, 20000}, {shards, 2}]},
                    {er_ets_10, [{rps, 10}, {capacity, 5}, {ttl, 20000}, {shards, 2}, {driver, erater_ets}]},
                    {er_adhoc, [{mode, adhoc}, {shards, 1}]}
                    ]}
            ]}
    ].
